<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home</title>
    <link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16x16.png">
    <link rel="manifest" href="fav/site.webmanifest">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#">The Birds Memorial</a><button
                data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-link"><a href="memorial">Memorial</a></li>
                    <li class="nav-item nav-link"><a href="survivors">Survivors</a></li>
                    <li class="nav-item nav-link"><a href="timeline">Timeline</a></li>
                    <li class="nav-item nav-link"><a href="birdexhibition">Bird Exhibition</a></li>
                    <li class="nav-item nav-link"><a href="src">Sources</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('assets/img/downloads-bg.jpg');">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">The Birds Memorial</h1>
                        <p class="intro-text">In memory of those who suffered because of the birds</p><a
                            class="btn btn-link btn-circle js-scroll-trigger" role="button" href="#about"><i
                                class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center content-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About The Birds Memorial</h2>
                    <p>The Birds Memorial was created to remember those who survived the terrible attack of the birds in
                        1963. </p>
                    <p>We want to tell the stories of those who have both passed away and survived this attack, giving a
                        complete story to those in future generations who may wonder what happened.</p>
                    <p>Contact <a href="https://gbn.glenbrook225.org/">Glenbrook North High School</a> for additional
                        members to be added to the Memorial or the
                        Survivors list.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-center download-section content-section" id="download" style="background-color:#444444;">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h1>Statement of Intent</h1>
                <p>I interpreted “The Birds” by Daphne du Maurier as a story about war. Specifically, the humans are on
                    one side of the war, getting overwhelmed by the birds. Therefore, I thought that creating a memorial
                    website for this “war” was fitting. I created this memorial website to humanize those that were
                    impacted by this war, incorporating characters shown in the horror movie version of "The Birds"
                    released in 1963. There were various individual choices that were made through the reaction of this
                    website. </p>
                <button type="button" class="btn btn-light" data-toggle="modal" data-target="#melaniedaniels">Read
                    More</button>
                <div class="modal fade" id="melaniedaniels" tabindex="-1" role="dialog"
                    aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="container">
                                <h2 class="mt-4" style="color:black;">Statement of Intent</h2>
                                <p style="color:black;text-align: left!important;">
                                    &emsp;&emsp;&emsp;I interpreted “The Birds” by Daphne du Maurier as a story about
                                    war. Specifically, the humans are on one side of the war, getting overwhelmed by the
                                    birds. Therefore, I thought that creating a memorial website for this “war” was
                                    fitting. I created this memorial website to humanize those that were impacted by
                                    this war, incorporating characters shown in the horror movie version of “The Birds''
                                    released in 1963. Various individual choices were made through the reaction of this
                                    website.
                                    <br>
                                    &emsp;&emsp;&emsp;First, regarding the design choices of this website, I wanted to
                                    emphasize the less-vibrant and more professional look of a memorial and thus decided
                                    to design it with a grayscale theme rather than a colorful one. The web pages mostly
                                    consist of the colors gray and black with occasional white bits to indicate user
                                    interaction with the website. Each subpage has a short description of the goals that
                                    the page tries to achieve and the different information is presented in an organized
                                    manner that allows the viewer to easily access individual portions of the data. For
                                    example, the memorial and survival pages allow users to click on the images of
                                    individuals to view information about them while the timeline page lets the users
                                    scroll and click through different times of the bird attack to view the significant
                                    events that occurred.
                                    <br>
                                    &emsp;&emsp;&emsp;The information was presented to the audience to have individual
                                    characters and occurrences fit to form a story about what happened in the town of
                                    Bodega Bay, where the movie took place. The memorial, the primary attraction of this
                                    website, serves as a reminder that people died during this event. Also, some serve
                                    to emphasize that people died because of reasons that may have nothing to do with
                                    the birds. For example, the person lighting the cigarette is never touched by a bird
                                    before death but dies anyway because of the gasoline spill which was indirectly
                                    caused by the birds. As described, the bird attack was a “war” and therefore
                                    characters like these were a reminder that others who are not involved in a war can
                                    be impacted by it. Each person listed in the “Memorial” and “Survivors” pages tells
                                    a story about their part in the attack such as how they were impacted and what they
                                    thought of it. While the survivors may be the ones who live on to tell the story
                                    about what happened during the event, I chose to put them here more because they can
                                    help clarify and provide a background for the story of those who died. For the
                                    “Timeline” portion of the site, there is a horizontal timeline that users can use to
                                    navigate through. Each significant event was coupled with a picture from the actual
                                    movie to show what happened in each scene and who was involved. This would help tie
                                    a different type of story together than if someone watched the actual movie. I
                                    intentionally opted to only focus on the events that would be highlighted if this
                                    were a real memorial for the attack of the birds. Therefore, significant portions of
                                    the movie were left out such as the romance between Mitch Brenner and Melanie
                                    Daniels, Lydia Brenner’s disapproval of Melanie Daniels contrasted with Cathey
                                    Brenner’s approval of her, and Lydia Brenner’s dependence on her husband and Mitch.
                                    Although these elements are crucial to understanding the movie, I didn’t see it fit
                                    on this memorial page.
                                    <br>
                                    &emsp;&emsp;&emsp;Going into specific individual factors within each page of the
                                    memorial, the “Memorial” page and the “Survivors” page have straightforward layouts,
                                    ordered by having the characters I deem most significant at the top. The choice of
                                    putting Mitch Brenner before Lydia and Cathy was not merely because he played a part
                                    with greater significance in the movie. Rather it was because in both the movie
                                    version and the short story version of “The Birds”, there is a male character that
                                    takes initiative in protecting the family or those he cares about. They usually do
                                    this while other characters are in shock and terror of the situation. In the text
                                    version, Nat does everything he can to keep his family happy, safe, and nourished.
                                    He is seen as the decision-maker who also decides to go to the farm and get supplies
                                    to sustain his family. This same role is taken by Mitch who fights the birds when
                                    they try to come into the house and protect the three women that he is with. Written
                                    and directed in the mid-1900s, it makes sense that the text emphasizes the
                                    differences in gender roles in the household and how in this relationship the man
                                    does everything to help the family. However, a difference between these two is the
                                    level of involvement of the woman. In the text, Nat’s wife often takes some
                                    responsibility by taking care of the children and having “a silent message [pass]
                                    between them” (5). However, neither of the two grown-up female characters seem to
                                    take this role completely as Lydia is always terrified and helpless because of the
                                    bird attacks while Melanie is portrayed as confident yet weak. Some of the other
                                    characters I chose to be involved in the list of characters were chosen because they
                                    significantly impacted the discussion of the bird attacks or because of their unique
                                    response to the situation. Mrs. Bundy and Deputy Al Malone were added to the list
                                    because they did not believe in the bird attacks, considering them as completely
                                    natural phenomena caused by chance. The mother in the diner was an interesting
                                    character to consider because she showed the trait of a protective mother and one
                                    who stubbornly tries to pinpoint a source to blame for a situation without much
                                    thought -- in this case, she attempts to blame Melanie for the bird attacks. Lastly,
                                    Mrs. MacGruder was added to the list because I wondered if she would be alive after
                                    the attacks. As the audience, we know that the lovebirds inside the cage didn’t
                                    attack. Although they showed some discomfort when the bird attack started, they
                                    never actually were seen struggling to get out of the cage. I saw the lovebirds as a
                                    middle ground between the attacking birds outside and the scared humans on the
                                    inside. Mrs. MacGruder owns a lot of birds in her shop and thus one can ask whether
                                    or not those caged birds would also have attacked. Many more characters contributed
                                    to the plot of the story but they were left out because they didn’t add much to the
                                    story of the birds other than that that can be understood through the characters
                                    currently presented.
                                    <br>
                                    &emsp;&emsp;&emsp;In addition to the description of the characters, the timeline was
                                    created to enhance the understanding of how different characters contributed to the
                                    story of the attack. Every point of the timeline has an image from the movie
                                    associated with it to provide a visual representation that helps the reader
                                    understand and connect different parts of the story. I also included some audio
                                    clips from different scenes that made sense. Some of these such as the one under
                                    “Day 1: Evening” about the chickens not eating and the one under “Day 1: Night”
                                    about it not being dark outside were added because they invoked suspense, which
                                    reminds the reader that the film is a horror movie. I also used this timeline to
                                    indirectly show my disapproval of some of the actions that the characters took. For
                                    example, the “Day 4: Sunrise” slide is titled “Wrong Decision” with this
                                    description: “Instead of waking up others to help her determine the source of the
                                    noise in the attic, Melanie decides to go there alone. She is attacked by the
                                    remaining birds in the attic and faints”. I thought that this decision by Melanie
                                    was completely illogical and perhaps the only valid explanation may be that she
                                    suffered some brain damage which didn’t allow her to make logical decisions that
                                    will prevent her from dying.
                                    <br>
                                    &emsp;&emsp;&emsp;Lastly, I added a subpage to the website called “Bird Exhibition”
                                    to show some of the birds from the movie and those mentioned in the text. Both the
                                    movie and the text seem to emphasize the different species of birds by mentioning
                                    different ones in the text and talking about differences of black birds through
                                    Melanie’s conversation with Mrs. Bundy, the ornithologist. Just as I sought to
                                    humanize one side of the war, I’m seeking to “bird”-ize the other another side of
                                    the war. I added a small caption to this subpage saying “maybe we shouldn’t hate
                                    birds” because they may have a purpose in a war that is far overlooked by the
                                    audience. I also added this because of my bias for birds; I like birds. Through
                                    research, I found it interesting that the bird that dove from the skies and killed
                                    itself in an attempt to kill people, the gannet, actually dives for its prey in
                                    water.
                                </p>
                                <br>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container text-center">
            <p>Created by Hyun Min (Eddie) Kim</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/grayscale.js"></script>
</body>

</html>