<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Memorial</title>
    <link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16x16.png">
    <link rel="manifest" href="fav/site.webmanifest">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="mems.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="home">The Birds Memorial</a><button
                data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-link active"><a href="memorial">Memorial</a></li>
                    <li class="nav-item nav-link"><a href="survivors">Survivors</a></li>
                    <li class="nav-item nav-link"><a href="timeline">Timeline</a></li>
                    <li class="nav-item nav-link"><a href="birdexhibition">Bird Exhibition</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('assets/img/intro-bg.jpg');">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Memorial</h1>
                        <p class="intro-text">Remembering those whose lives were lost during the series of terrible
                            attacks</p><a class="btn btn-link btn-circle js-scroll-trigger" role="button"
                            href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center content-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="container personInfo mb-5">
                        <button type="button" class="btn imgDescBtn" data-toggle="modal" data-target="#anniehayworth">
                            <div class="imageContainer">
                                <img src="img/d1.png" alt="" class="showImg">
                            </div>
                            <h4 class="mt-4">Annie Hayworth</h4>
                            <div class="modal fade" id="anniehayworth" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="img/d1.png" alt="" class="modalImg">
                                        <h1 class="mt-2 mb-2">Annie Hayworth</h1>
                                        <div class="container">
                                            <span>Age: 20-30</span>
                                            <br>
                                            <span>Place of Birth: San Francisco</span>
                                            <br>
                                            <br>
                                            <p class="ptextpeople"
                                                style="text-align:left;max-width: 90%;margin-left:auto;margin-right:auto;">
                                                &emsp;&emsp;&emsp; Annie Hayworth played an integral
                                                part
                                                in the Bodega Bay,
                                                serving
                                                as a teacher at the Bodega Bay schools. She was found dead in front of
                                                her
                                                porch on the third day of the attack. The day before she died, a seagull
                                                crashed into the front door of her house (it wasn't dark outside).</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="container personInfo mb-5">
                        <button type="button" class="btn imgDescBtn" data-toggle="modal" data-target="#danfawcett">
                            <div class="imageContainer">
                                <img src="img/d2.png" alt="" class="showImg">
                            </div>
                            <h4 class="mt-4">Dan Fawcett</h4>
                            <div class="modal fade" id="danfawcett" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="img/d2.png" alt="" class="modalImg">
                                        <h1 class="mt-2 mb-2">Dan Fawcett</h1>
                                        <div class="container">
                                            <span>Age: 40-60</span>
                                            <br>
                                            <span>Place of Birth: Unknown</span>
                                            <br>
                                            <br>
                                            <p class="ptextpeople"
                                                style="text-align:left;max-width: 90%;margin-left:auto;margin-right:auto;">
                                                &emsp;&emsp;&emsp; Dan Fawcett was a farmer who lived relatively close
                                                to the Bodega Bay area. He was found dead in his house, bloody with his
                                                eyes gone. Dan was remembered as a hard-worker who especially took good
                                                care of his chickens. However, the day before he died, he reported that
                                                the chicken weren't eating the feed.</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>











            <div class="row">
                <div class="col-lg-6">
                    <div class="container personInfo mb-5">
                        <button type="button" class="btn imgDescBtn" data-toggle="modal" data-target="#gasstation">
                            <div class="imageContainer">
                                <img src="img/d3.png" alt="" class="showImg">
                            </div>
                            <h4 class="mt-4">Person at Gas Station</h4>
                            <div class="modal fade" id="gasstation" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="img/d3.png" alt="" class="modalImg">
                                        <h1 class="mt-2 mb-2">Person at Gas Station</h1>
                                        <div class="container">
                                            <span>Age: 20-40</span>
                                            <br>
                                            <span>Place of Birth: Unknown</span>
                                            <br>
                                            <br>
                                            <p class="ptextpeople"
                                                style="text-align:left;max-width: 90%;margin-left:auto;margin-right:auto;">
                                                &emsp;&emsp;&emsp; This person was filling up gas for his car when a
                                                seagull hit him in the side of his head, a fatal blow that caused him to
                                                fall violently to the ground. He was instantly left unconscious and died
                                                shortly after amidst the attack. The Bodega Bay community misses his
                                                kind and gentle heart.</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="container personInfo mb-5">
                        <button type="button" class="btn imgDescBtn" data-toggle="modal" data-target="#cigarette">
                            <div class="imageContainer">
                                <img src="img/d4.png" alt="" class="showImg">
                            </div>
                            <h4 class="mt-4">Person lighting cigarette</h4>
                            <div class="modal fade" id="cigarette" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="img/d4.png" alt="" class="modalImg">
                                        <h1 class="mt-2 mb-2">Person lighting cigarette</h1>
                                        <div class="container">
                                            <span>Age: 30-40</span>
                                            <br>
                                            <span>Place of Birth: Unknown</span>
                                            <br>
                                            <br>
                                            <p class="ptextpeople"
                                                style="text-align:left;max-width: 90%;margin-left:auto;margin-right:auto;">
                                                &emsp;&emsp;&emsp; Before this man got out of his car, the gasoline that
                                                was supposed to be fed into another person's car flowed all the way
                                                towards his car. By the time he was out of the car, the attack had just
                                                started. However, this man was unfortunately unaware of neither the bird
                                                attack nor the gasoline under his feet. When he lighted his cigarette
                                                and some of the flames fell the to the ground, he instantly was covered
                                                in fire, leaving him helpless. We remember his unfortunate death.</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>






            <div class="row">
                <div class="col-lg-6">
                    <div class="container personInfo mb-5">
                        <button type="button" class="btn imgDescBtn" data-toggle="modal" data-target="#phonebooth">
                            <div class="imageContainer">
                                <img src="img/d5.png" alt="" class="showImg">
                            </div>
                            <h4 class="mt-4">Person at phone booth</h4>
                            <div class="modal fade" id="phonebooth" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="img/d5.png" alt="" class="modalImg">
                                        <h1 class="mt-2 mb-2">Person at phone booth</h1>
                                        <div class="container">
                                            <span>Age: 40-60</span>
                                            <br>
                                            <span>Place of Birth: Unknown</span>
                                            <br>
                                            <br>
                                            <p class="ptextpeople"
                                                style="text-align:left;max-width: 90%;margin-left:auto;margin-right:auto;">
                                                &emsp;&emsp;&emsp; This person who was found dead next to a phone booth
                                                seems to have been attacked by about a dozen of birds. There are severe
                                                wounds in his entire body. Melanie Daniels recollects the terror she
                                                experienced as she saw him fall helplessly next to the phone booth
                                                saying, "I have never seen anything more cruel that what the birds did
                                                to him".</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>

            </div>










    </section>
    <footer>
        <div class="container text-center">
            <p>Created by Hyun Min (Eddie) Kim</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/grayscale.js"></script>
</body>

</html>