<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sources</title>
    <link rel="apple-touch-icon" sizes="180x180" href="fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="fav/favicon-16x16.png">
    <link rel="manifest" href="fav/site.webmanifest">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="mems.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body id="page-top" style="overflow-x: hidden;">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="home">The Birds Memorial</a><button
                data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-link"><a href="memorial">Memorial</a></li>
                    <li class="nav-item nav-link"><a href="survivors">Survivors</a></li>
                    <li class="nav-item nav-link"><a href="timeline">Timeline</a></li>
                    <li class="nav-item nav-link"><a href="birdexhibition">Bird Exhibition</a></li>
                    <li class="nav-item nav-link active"><a href="src">Sources</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-color:black;">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Sources</h1>
                        <p class="intro-text">Links and more</p><a class="btn btn-link btn-circle js-scroll-trigger"
                            role="button" href="#about"><i class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center content-section" id="about">
        <div class="container">
            <p>
                This project was created with Node.js as the backend and HTML(ejs), CSS, JS as the frontend.
            </p>
            <p>
                The code for this project is stored here: <a
                    href="https://github.com/gomgom03/The_Birds_Memorial">Github</a>
            </p>
            <p>
                Pictures and audio were taken from the original movie, <a
                    href="https://www.imdb.com/title/tt0056869/"><em>The Birds</em>(1963)</a> by Alfred Hitchcock
            </p>
            <p>I mainly drew inspiration from the <a href="https://www.911memorial.org/">911 Memorial</a></p>
        </div>
    </section>
    <footer>
        <div class="container text-center">
            <p>Created by Hyun Min (Eddie) Kim</p>
        </div>
    </footer>
    <script src="landing.js">

    </script>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/grayscale.js"></script>
</body>

</html>