<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Survivors</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="mems.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="home">The Birds Memorial</a><button
                data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-link"><a href="memorial">Memorial</a></li>
                    <li class="nav-item nav-link active"><a href="survivors">Survivors</a></li>
                    <li class="nav-item nav-link"><a href="timeline">Timeline</a></li>
                    <li class="nav-item nav-link"><a href="birdexhibition">Bird Exhibition</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('img/handsall.jpg');">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Survivors</h1>
                        <p class="intro-text">The wounded, harmed, and the unknown</p><a
                            class="btn btn-link btn-circle js-scroll-trigger" role="button" href="#about"><i
                                class="fa fa-angle-double-down animated"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center content-section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="container personInfo mb-5">
                        <button type="button" class="btn imgDescBtn" data-toggle="modal" data-target="#melaniedaniels">
                            <div class="imageContainer">
                                <img src="img/s1.png" alt="" class="showImg">
                            </div>
                            <h4 class="mt-4">Melanie Daniels</h4>
                            <div class="modal fade" id="melaniedaniels" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="img/s1.png" alt="" class="modalImg">
                                        <h1 class="mt-2 mb-2">Melanie Daniels</h1>
                                        <div class="container">
                                            <span>Status: Alive</span>
                                            <br>
                                            <span>Age: 20-30</span>
                                            <br>
                                            <span>Place of Residence: San Francisco</span>
                                            <br>
                                            <br>
                                            <p class="ptextpeople"
                                                style="text-align:left;max-width: 90%;margin-left:auto;margin-right:auto;">
                                                &emsp;&emsp;&emsp; Melanie Daniels is a person without a fixed
                                                occupation. She is famous for her newspaper scandals and her personal
                                                endeavors as recorded by various news outlets including the one her
                                                father owns. She was one of the first victims of the bird attacks and
                                                live on to tell her story. To this day she mourns for her (new) friend
                                                Annie Hayworth, who died during a bird attack.</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="container personInfo mb-5">
                        <button type="button" class="btn imgDescBtn" data-toggle="modal" data-target="#mitchbrenner">
                            <div class="imageContainer">
                                <img src="img/s2.png" alt="" class="showImg">
                            </div>
                            <h4 class="mt-4">Mitch Brenner</h4>
                            <div class="modal fade" id="mitchbrenner" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="img/s2.png" alt="" class="modalImg">
                                        <h1 class="mt-2 mb-2">Mitch Brenner</h1>
                                        <div class="container">
                                            <span>Status: Alive</span>
                                            <br>
                                            <span>Age: 20-30</span>
                                            <br>
                                            <span>Place of Residence: San Francisco/Bodega Bay</span>
                                            <br>
                                            <br>
                                            <p class="ptextpeople"
                                                style="text-align:left;max-width: 90%;margin-left:auto;margin-right:auto;">
                                                &emsp;&emsp;&emsp; Mitch Brenner is a defense lawyer who used to enjoy
                                                his life both in the city of San Francisco and his hometown Bodega Bay.
                                                He was one of the first person to encounter a bird attacking human
                                                beings. He endured various severe wounds to his entire body, especially
                                                his front arms, when trying to keep his family safe from the birds. He
                                                deems it "extremely unfortunate" that people didn't take heed and
                                                believe in the bird attacks until it killed them.</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>



            <div class="row">
                <div class="col-lg-6">
                    <div class="container personInfo mb-5">
                        <button type="button" class="btn imgDescBtn" data-toggle="modal" data-target="#lydiabrenner">
                            <div class="imageContainer">
                                <img src="img/s3.png" alt="" class="showImg">
                            </div>
                            <h4 class="mt-4">Lydia Brenner</h4>
                            <div class="modal fade" id="lydiabrenner" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="img/s3.png" alt="" class="modalImg">
                                        <h1 class="mt-2 mb-2">Lydia Brenner</h1>
                                        <div class="container">
                                            <span>Status: Alive</span>
                                            <br>
                                            <span>Age: 20-30</span>
                                            <br>
                                            <span>Place of Residence: Bodega Bay</span>
                                            <br>
                                            <br>
                                            <p class="ptextpeople"
                                                style="text-align:left;max-width: 90%;margin-left:auto;margin-right:auto;">
                                                &emsp;&emsp;&emsp; Lydia Brenner is known to be a protective (some of
                                                the folks in town may say "overprotective") mother of Mitch Brenner and
                                                Cathy Brenner. She was especially traumatized by her helplessness during
                                                the bird attacks and thus does not want to let Mitch go with someone
                                                else and leave her without someone to depend on. She considers this the
                                                "worst thing that happened to [her]" other than her husband's death.</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="container personInfo mb-5">
                        <button type="button" class="btn imgDescBtn" data-toggle="modal" data-target="#cathybrenner">
                            <div class="imageContainer">
                                <img src="img/s4.png" alt="" class="showImg">
                            </div>
                            <h4 class="mt-4">Cathy Brenner</h4>
                            <div class="modal fade" id="cathybrenner" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="img/s4.png" alt="" class="modalImg">
                                        <h1 class="mt-2 mb-2">Cathy Brenner</h1>
                                        <div class="container">
                                            <span>Status: Alive</span>
                                            <br>
                                            <span>Age: 10-11</span>
                                            <br>
                                            <span>Place of Residence: Bodega Bay</span>
                                            <br>
                                            <br>
                                            <p class="ptextpeople"
                                                style="text-align:left;max-width: 90%;margin-left:auto;margin-right:auto;">
                                                &emsp;&emsp;&emsp; Cathy Brenner has always had a positive view of birds
                                                and even wished for lovebirds for her birthday (which she received from
                                                Melanie Daniels). She is traumatized by Annie Hayworth's death, which
                                                she was able to experience first-hand from inside the house. She has
                                                told the media that she will not be describing Annie's terrible death.
                                                She has seen multiple bird attacks from inside her house and at her
                                                birthday party.
                                            </p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="container personInfo mb-5">
                        <button type="button" class="btn imgDescBtn" data-toggle="modal" data-target="#mrsbundy">
                            <div class="imageContainer">
                                <img src="img/s5.png" alt="" class="showImg">
                            </div>
                            <h4 class="mt-4">Mrs. Bundy</h4>
                            <div class="modal fade" id="mrsbundy" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="img/s5.png" alt="" class="modalImg">
                                        <h1 class="mt-2 mb-2">Mrs. Bundy</h1>
                                        <div class="container">
                                            <span>Status: Unknown</span>
                                            <br>
                                            <span>Age: 60-80</span>
                                            <br>
                                            <span>Place of Residence: Bodega Bay</span>
                                            <br>
                                            <br>
                                            <p class="ptextpeople"
                                                style="text-align:left;max-width: 90%;margin-left:auto;margin-right:auto;">
                                                &emsp;&emsp;&emsp; Mrs. Bundy is an ornithologist who see birds as
                                                wonderful creatures that "bring beauty to the world". Although she has
                                                seen the bird attacks, she doesn't believe in them like Deputy Al
                                                Malone.</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="container personInfo mb-5">
                        <button type="button" class="btn imgDescBtn" data-toggle="modal" data-target="#macgruder">
                            <div class="imageContainer">
                                <img src="img/s6.png" alt="" class="showImg">
                            </div>
                            <h4 class="mt-4">Mrs. MacGruder</h4>
                            <div class="modal fade" id="macgruder" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="img/s6.png" alt="" class="modalImg">
                                        <h1 class="mt-2 mb-2">Mrs. MacGruder</h1>
                                        <div class="container">
                                            <span>Status: Unknown</span>
                                            <br>
                                            <span>Age: 50-60</span>
                                            <br>
                                            <span>Place of Residence: San Francisco</span>
                                            <br>
                                            <br>
                                            <p class="ptextpeople"
                                                style="text-align:left;max-width: 90%;margin-left:auto;margin-right:auto;">
                                                &emsp;&emsp;&emsp; Mrs. MacGruder is the clerk of a pet store that
                                                Melanie Daniels often visits. No news about her has come through. Many
                                                wonder about her whereabouts because they wonder if the pet birds
                                                attacked her too.</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="container personInfo mb-5">
                        <button type="button" class="btn imgDescBtn" data-toggle="modal" data-target="#motherindiner">
                            <div class="imageContainer">
                                <img src="img/s7.png" alt="" class="showImg">
                            </div>
                            <h4 class="mt-4">Mother in Diner</h4>
                            <div class="modal fade" id="motherindiner" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="img/s7.png" alt="" class="modalImg">
                                        <h1 class="mt-2 mb-2">Mother in Diner</h1>
                                        <div class="container">
                                            <span>Status: Unknown</span>
                                            <br>
                                            <span>Age: 40-50</span>
                                            <br>
                                            <span>Place of Residence: Bodega Bay</span>
                                            <br>
                                            <br>
                                            <p class="ptextpeople"
                                                style="text-align:left;max-width: 90%;margin-left:auto;margin-right:auto;">
                                                &emsp;&emsp;&emsp; The mother in the diner is a mother of two. She is
                                                extremely upset because she claims that those in the restaurant has
                                                caused her children to become scared by talking too loud. She plans to
                                                sue all of those who talked in the restaurant. She is
                                                terrified of the bird attacks and blames Melanie Daniels for "bringing
                                                these evil spirits into the peaceful Bodega Bay". </p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="container personInfo mb-5">
                        <button type="button" class="btn imgDescBtn" data-toggle="modal" data-target="#dalmalone">
                            <div class="imageContainer">
                                <img src="img/s8.png" alt="" class="showImg">
                            </div>
                            <h4 class="mt-4">Deputy Al Malone</h4>
                            <div class="modal fade" id="dalmalone" tabindex="-1" role="dialog"
                                aria-labelledby="myLargeModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <img src="img/s8.png" alt="" class="modalImg">
                                        <h1 class="mt-2 mb-2">Deputy Al Malone</h1>
                                        <div class="container">
                                            <span>Status: Unknown</span>
                                            <br>
                                            <span>Age: 40-60</span>
                                            <br>
                                            <span>Place of Residence: Bodega Bay</span>
                                            <br>
                                            <br>
                                            <p class="ptextpeople"
                                                style="text-align:left;max-width: 90%;margin-left:auto;margin-right:auto;">
                                                &emsp;&emsp;&emsp; Deputy Al Malone was the one who was there to
                                                investigate the bird troubles that people were experiencing. Many called
                                                him
                                                for help, thinking he would be able to do something about the situation.
                                                However, he always regarded these accidents as mere coincidences. He
                                                still doesn't believe in the attacks.</p>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <footer>
        <div class="container text-center">
            <p>Created by Hyun Min (Eddie) Kim</p>
        </div>
    </footer>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/grayscale.js"></script>
</body>

</html>