<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Timeline</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="timeline.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="timeline.js"></script>
    <link rel="stylesheet" href="mems.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="home">The Birds Memorial</a><button
                data-toggle="collapse" class="navbar-toggler navbar-toggler-right" data-target="#navbarResponsive"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"
                value="Menu"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item nav-link"><a href="memorial">Memorial</a></li>
                    <li class="nav-item nav-link"><a href="survivors">Survivors</a></li>
                    <li class="nav-item nav-link active"><a href="timeline">Timeline</a></li>
                    <li class="nav-item nav-link"><a href="birdexhibition">Bird Exhibition</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead">

        <section class="cd-horizontal-timeline">
            <div class="timeline">
                <div class="events-wrapper">
                    <div class="events">
                        <ol style="list-style-type: none;">
                            <li><a href="#0" data-date="16/01/1963" class="selected">Before</a></li>
                            <li><a href="#0" data-date="16/03/1963">Day 1: Noon</a></li>
                            <li><a href="#0" data-date="16/05/1963">Day 1: Evening</a></li>
                            <li><a href="#0" data-date="16/07/1963">Day 1: Night</a></li>
                            <li><a href="#0" data-date="16/10/1963">Day 2: Morning</a></li>
                            <li><a href="#0" data-date="16/12/1963">Day 2: Night</a></li>
                            <li><a href="#0" data-date="16/03/1964">Day 3: Early Morning</a></li>
                            <li><a href="#0" data-date="16/05/1964">Day 3: Morning</a></li>
                            <li><a href="#0" data-date="16/07/1964">Day 3: Noon</a></li>
                            <li><a href="#0" data-date="16/09/1964">Day 3: Afternoon</a></li>
                            <li><a href="#0" data-date="16/01/1965">Day 4: Midnight</a></li>
                            <li><a href="#0" data-date="16/03/1965">Day 4: Sunrise</a></li>
                        </ol>

                        <span class="filling-line" aria-hidden="true"></span>
                    </div> <!-- .events -->
                </div> <!-- .events-wrapper -->

                <ul class="cd-timeline-navigation" style="list-style-type: none;">
                    <li><a href="#0" class="prev inactive">abcdefg</a></li>
                    <li><a href="#0" class="next">Next</a></li>
                </ul> <!-- .cd-timeline-navigation -->
            </div> <!-- .timeline -->

            <div class="events-content">
                <ol style="list-style-type: none;">
                    <li class="selected" data-date="16/01/1963">
                        <div class="tlimgcontain">
                            <img class="mb-5 mt-3 tlimg" src="img/e1.png" alt="">
                        </div>
                        <h2 class="mt-4">First Attack</h2>
                        <em>Before</em>


                        <p>
                            A fisherman's boat was attacked by seagulls.
                        </p>
                        <audio class="mt-4" controls src="audio/audio1.mp3"></audio>

                    </li>

                    <li data-date="16/03/1963">
                        <div class="tlimgcontain mb-4">
                            <img class="mb-5 mt-3 tlimg" src="img/e2.png" alt="">
                        </div>
                        <h2 class="mb-4">Small Seagull Attack</h2>
                        <em>Day 1: Noon</em>
                        <p>
                            While Melanie Daniels is on a small boat, a Seagull comes and hit the side corner of her
                            forehead, making her bleed.
                        </p>
                    </li>

                    <li data-date="16/05/1963">
                        <div class="tlimgcontain mb-4">
                            <img class="mb-5 mt-3 tlimg" src="img/e3.png" alt="">
                        </div>
                        <h2 class="mb-4">Chickens Won't Eat</h2>
                        <em>Day 1: Evening</em>
                        <p>
                            Before preparing dinner, Lydia Brenner calls up her chicken feed supplier and tells him that
                            the chicken aren't eating. She is told that Dan Fawcett's chickens won't eat the feed
                            either, and that the feed sold to him is different that hers.
                        </p>
                        <audio class="mt-4" controls src="audio/audio3.mp3"></audio>
                    </li>

                    <li data-date="16/07/1963">
                        <div class="tlimgcontain mb-4">
                            <img class="mb-5 mt-3 tlimg" src="img/e4.png" alt="">
                        </div>
                        <h2 class="mb-4">Seagull Crash</h2>
                        <em>Day 1: Night</em>
                        <p>
                            A seagull randomly crashes on Annie's front door at night. At first, Annie suspects that the
                            poor bird lost vision in the darkness but Melanie points out that there is a full moon
                            today.
                        </p>
                        <audio class="mt-4" controls src="audio/audio4.mp3"></audio>
                    </li>

                    <li data-date="16/10/1963">
                        <div class="tlimgcontain mb-4">
                            <img class="mb-5 mt-3 tlimg" src="img/e5.png" alt="">
                        </div>
                        <h2 class="mb-4">Ruined Birthday Party</h2>
                        <em>Day 2: Morning</em>
                        <p>
                            Cathy's birthday party was interrupted by a flock of seagulls that attcked the children.
                        </p>
                    </li>

                    <li data-date="16/12/1963">
                        <div class="tlimgcontain mb-4">
                            <img class="mb-5 mt-3 tlimg" src="img/e6.png" alt="">
                        </div>
                        <h2 class="mb-4">Uninvited Sparrows</h2>
                        <em>Day 2: Night</em>
                        <p>
                            Dozens of sparrows come down from the Brenner house's chimney. The sparrows attack the
                            Brenners and Melanie, crashing into them. They also smash different things in the house
                            during this short period of time. They call Deputy Al Malone but he disregards the event as
                            a random phenomenon.
                        </p>
                    </li>

                    <li data-date="16/03/1964">
                        <div class="tlimgcontain mb-4">
                            <img class="mb-5 mt-3 tlimg" src="img/e7.png" alt="">
                        </div>
                        <h2 class="mb-4">Gory Death</h2>
                        <em>Day 3: Early Morning</em>
                        <p>
                            Dan Fawcett is found dead in his house. Many things in the house have been smashed and his
                            body seems to have suffered major stabs. His eyes are also gone.
                        </p>
                    </li>

                    <li data-date="16/05/1964">
                        <div class="tlimgcontain mb-4">
                            <img class="mb-5 mt-3 tlimg" src="img/e8.png" alt="">
                        </div>
                        <h2 class="mb-4">School Attack</h2>
                        <em>Day 3: Morning</em>
                        <p>
                            Those in the Bodega Bay School is attacked by hundreds of crows. The teachers and kids run
                            to safety.
                        </p>
                    </li>

                    <li data-date="16/07/1964">
                        <div class="tlimgcontain mb-4">
                            <img class="mb-5 mt-3 tlimg" src="img/e9.png" alt="">
                        </div>
                        <h2 class="mb-4">Unfortunate Deaths</h2>
                        <em>Day 3: Noon</em>
                        <p>
                            A seagull stabs a man putting gas into his car in his head. The man falls and lays
                            unconscious while the gasoline reaches another car. The man who leaves the car with a
                            cigarette dies of severe burns due to a giant fire started by the flames of his cigarette
                            catching the gasoline. A man also dies in front of a phone booth while running away from the
                            birds.
                        </p>
                    </li>

                    <li data-date="16/09/1964">
                        <div class="tlimgcontain mb-4">
                            <img class="mb-5 mt-3 tlimg" src="img/e10.png" alt="">
                        </div>
                        <h2 class="mb-4">Annie Dead</h2>
                        <em>Day 3: Afternoon</em>
                        <p>
                            Annie is found dead in her front porch. Cathy saw her moments before her death. It is
                            suspected that birds attacked her.
                        </p>
                    </li>

                    <li data-date="16/01/1965">
                        <div class="tlimgcontain mb-4">
                            <img class="mb-5 mt-3 tlimg" src="img/e11.png" alt="">
                        </div>
                        <h2 class="mb-4">News and Bird Attack</h2>
                        <em>Day 4: Midnight</em>
                        <p>
                            There is a news report at night saying that the bird attack happened only in Bodega Bay and
                            a few surrounding areas. When the birds attack again at night, Mitch is injured while trying
                            to keep the birds from coming into the house.
                        </p>

                        <audio class="mt-4" controls src="audio/audio11.mp3"></audio>
                    </li>
                    <li data-date="16/03/1965">
                        <div class="tlimgcontain mb-4">
                            <img class="mb-5 mt-3 tlimg" src="img/e12.png" alt="">
                        </div>
                        <h2 class="mb-4">Wrong Decision</h2>
                        <em>Day 4: Sunrise</em>
                        <p>
                            Instead of waking up others to help her determine the source of the noise in the attic,
                            Melanie decides to go there alone. She is attacked by the remaining birds in the attic and
                            faints.
                        </p>
                    </li>

                </ol>
            </div> <!-- .events-content -->
        </section>
    </header>
    <footer>
        <div class="container text-center">
            <p>Created by Hyun Min (Eddie) Kim</p>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/grayscale.js"></script>
</body>

</html>